
<div class="row">

  <div class="col-md-12">
        <ol>
          <%= render @calendars %>
        </ol>
  </div>

</div>

<div class="row">
  <aside class="col-md-4">

    <section>
      <%= render 'shared/calendar_form' %>
    </section>

  </aside>
  <span>
    <li><%= link_to 'show', calendars_path %></li>
  </span>

</div>
