
h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: rgba(50, 48, 69, 0.82) ;
}

.field {
  padding-bottom: 5px;
}

$theme-colors: (
        "primary": #0074,
        "danger": #ff4136
);

@media (min-width: 768px) {
  .col-md-auto {
    border: groove rgba(0, 0, 119, 0.25);
    padding-top: 15px;
    padding-bottom: 15px;

  }
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.extra-ft {
  background-color: #138496;
  bottom: 0;
}
.extra-ft-a{
  color:blanchedalmond;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.extra-ft-div{
  color:blanchedalmond;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: blanchedalmond;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar{
  margin-bottom: 45px;

}
.extra-color-lf a{
  color: blanchedalmond;
}

