<footer class="page-footer font-small navbar-fixed-bottom extra-ft">
  <div class="footer-copyright text-center py-3 extra-ft-div">© 2018 Copyright:
    <a class="extra-ft-a" href="http://www.nextbridge.pk/"> NextBridge</a>
  </div>
</footer>
