<header class='navbar navbar-light navbar-fixed-top navbar-inverse' style='background-color: #e3f2fd;' >
  <div class='container'>
    <%= link_to 'Schedular', '#', id: 'logo' %>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to 'Home',   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
