<header class='navbar navbar-light navbar-fixed-top navbar-inverse' style='background-color: #138496;' >
  <div class='container'>
    <%= link_to 'Schedular', root_url, id: 'logo' %>
    <nav>
      <ul class='nav navbar-nav navbar-right' class = 'extra-color-lf'>
        <li class = 'extra-color-lf'><%= link_to 'Home', root_url %></li>
      </ul>
    </nav>
  </div>
</header>
